@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

#root {
    background: radial-gradient(circle, rgba(42,42,42,1) 14%, rgba(47,47,47,1) 35%, rgba(44,44,44,1) 64%);
    display: flex;
    justify-content: center;
    align-items: center;

}

.bg-black-primary {
 background-color: hsl(240, 11%, 7%)

}

.bg-black-100 {
  background-color: hsl(0, 0%, 12%);
}

.text-dark-500 {
  color: #686868;
}